.captcha-block {
	display: grid;
	grid-template-columns: 120px auto;
	align-items: center;
	gap: 12px;

	img {
		display: flex;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: left;
		background-color: var(--white);

		border-radius: var(--base-border-radius);
		padding: 4px;
		max-height: 45px;
	}

	input {
		padding-top: 12px;
		&::placeholder {
			font-size: 14px;
		}
		font-size: 14px;
	}

	&.invalid-fld input {
		border-color: var(--danger);
	}
}
