%ctrl-common {
	width: 100%;
	padding: 14px clamp(16px, 2.4vw, 36px) 12px;
	font-size: 16px;
	color: var(--dark);
	border: 2px solid transparent;
	background-color: var(--white);
	outline: none;

	&::placeholder {
		font-size: 16px;
		line-height: 1;
		color: var(--dark);
	}
}
