@use "@scss/extends";
.main-input-wrapper {
	&:not(:has(input[type="submit"])) {
	}

	label {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	input:not([type="submit"]) {
		@extend %form-input;

		&::placeholder {
			@extend %form-input-placeholder;
		}
	}

	&.invalid-fld {
		input {
			border-color: var(--danger);
		}
	}

	input[type="submit"] {
		color: var(--white);
		background-color: var(--primary);
		width: 100%;
	}
}
