@use "@scss/extends/index" as *;

.social-block {
	display: flex;
	align-items: center;
	gap: 6px;

	a {
		@extend %glass-dark;
		display: flex;
		align-items: center;
		justify-content: center;

		width: 48px;
		height: 48px;
		border-radius: 50%;

		img {
			width: 24px;
			height: auto;
			aspect-ratio: 1/1;
			object-fit: contain;
		}
	}
}
