@use "@scss/base/container-queries" as *;

.header {
	position: relative;
	// padding: 12px 0;
	// background-color: var(--dark);

	.container {
		display: flex;
		flex-direction: column;
		// gap: 16px;
	}

	.logo {
		width: 100%;
		max-width: 140px;
		height: auto;
		margin-right: 44px;
	}

	&__contact-block {
		position: relative;

		display: flex;
		flex-direction: column;
		gap: 4px 16px;
		padding-left: 40px;

		address,
		a,
		span {
			color: var(--dark);
			font-size: 16px;
			font-weight: 600;
		}

		svg {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 24px;
			height: auto;
			fill: var(--dark);
		}

		&--left {
			margin-right: auto;

			svg {
				fill: var(--danger);
			}
		}
	}

	&__row {
		display: flex;
		align-items: center;
		gap: 12px 32px;
		padding: 12px 0;

		&--top {
			display: flex;
			align-items: center;
			gap: 12px 32px;
			// padding-bottom: 12px;

			border-bottom: 1px solid var(--light);

			&-section {
				display: flex;
				flex-direction: column;
				gap: 6px;

				&--left {
				}

				&--middle {
				}

				&--right {
				}
			}
		}

		&--middle {
			gap: 0;
			justify-content: end;

			.catalog-opener {
				margin-right: auto;
			}

			.social-block {
				padding: 0 44px;
			}
		}

		&--bottom {
			background-color: var(--light);
		}
	}
}
