@use "@scss/base/container-queries" as *;
@use "@scss/extends/index" as *;

.header {
	@extend %glass-dark;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border: none;
	z-index: 79;

	.logo {
		width: 100%;
		max-width: 180px;
		height: auto;
		margin: 0 auto;
		padding-top: 6px;
	}

	& &__callback-btn {
		background-color: transparent;
		padding: 4px 0 2px;
		min-height: initial;
		border: none;
		backdrop-filter: none;
	}

	&__search-opener-btn {
		svg {
			fill: var(--white);
		}
	}

	&__contact-link {
		display: flex;
		svg {
			fill: var(--white);
		}
	}

	&__row {
		padding: 12px 0;

		&-col {
			display: flex;
			align-items: center;
			gap: 16px;

			&:first-child {
				justify-content: flex-start;
			}

			&:last-child {
				justify-content: flex-end;
			}
		}

		&:first-child {
			position: relative;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: center;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: linear-gradient(
					90deg,
					transparent,
					var(--light),
					transparent
				);
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 4px;

		a {
			color: var(--white);
			text-align: right;
		}
	}
}

// .header {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	background-color: transparent;
// 	backdrop-filter: blur(7px);
// 	z-index: 79;

// 	.container {
// 		display: flex;
// 		flex-direction: column;
// 	}

// 	.logo {
// 		width: 100%;
// 		max-width: 140px;
// 		height: auto;
// 		margin-right: 44px;
// 	}

// 	&__contact-block {
// 		position: relative;

// 		display: flex;
// 		flex-direction: column;
// 		gap: 4px 16px;
// 		padding-left: 40px;

// 		address,
// 		a,
// 		span {
// 			color: var(--dark);
// 			font-size: 16px;
// 			font-weight: 600;
// 		}

// 		svg {
// 			position: absolute;
// 			top: 50%;
// 			transform: translateY(-50%);
// 			left: 0;
// 			width: 24px;
// 			height: auto;
// 			fill: var(--dark);
// 		}

// 		&--left {
// 			margin-right: auto;

// 			svg {
// 				fill: var(--danger);
// 			}
// 		}
// 	}

// 	&__row {
// 		display: flex;
// 		align-items: center;
// 		gap: 12px 32px;
// 		padding: 12px 0;

// 		&--top {
//
// 			}

// 			&-section {
// 				display: flex;
// 				flex-direction: column;
// 				gap: 6px;

// 				&--left {
// 				}

// 				&--middle {
// 				}

// 				&--right {
// 				}
// 			}
// 		}

// 		&--middle {
// 			gap: 0;
// 			justify-content: end;

// 			.catalog-opener {
// 				margin-right: auto;
// 			}

// 			.social-block {
// 				padding: 0 44px;
// 			}
// 		}

// 		&--bottom {
// 			// background-color: var(--light);
// 		}
// 	}
// }
