@use "@scss/base/container-queries" as *;

.header {
	position: relative;
	padding: 12px 0;
	// background-color: var(--dark);

	.container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.logo {
		// margin-right: auto;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: var(--container-offset);
		width: 100%;
		max-width: 260px;
		height: auto;
	}

	&__contact-block {
		display: flex;
		flex-direction: column;
		gap: 4px 16px;
		padding-left: 40px;

		address,
		a,
		span {
			color: var(--dark);
			font-size: 16px;
			font-weight: 600;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 0;
			width: 24px;
			height: auto;
			fill: var(--accent);
		}

		&--left {
			margin-right: auto;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		gap: 12px 32px;

		padding-left: 260px;

		&--top {
			display: flex;
			align-items: center;
			gap: 12px 32px;

			&-section {
				display: flex;
				flex-direction: column;
				gap: 6px;

				&--left {
				}

				&--middle {
				}

				&--right {
				}
			}
		}

		&--middle {
			gap: 0;
			justify-content: end;

			.catalog-opener {
				margin-right: auto;
			}

			.social-block {
				padding: 0 44px;
			}
		}
	}
}
