.section {
	padding: clamp(32px, 4.4vw, 120px) 0;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 24px;
		margin-bottom: clamp(32px, 4vw, 72px);

		h2 {
			font-size: clamp(24px, 6vw, 64px);
			font-weight: 300;
			margin: 0;
			text-align: center;
			width: 100%;
			max-width: 960px;
			text-wrap: balance;
			margin: 0 auto;
			text-transform: uppercase;
			color: var(--white);
		}

		p {
			font-size: clamp(14px, 2.4vw, 16px);
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: 0.075em;
			text-align: center;
			margin: 0;
		}
	}

	&:has(.page-head) {
		padding-top: 172px;
	}
}
