.section {
	padding: clamp(32px, 4.4vw, 120px) 0;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 24px;
		margin-bottom: clamp(32px, 4vw, 72px);

		h2 {
			font-family: var(--secondary-font);
			font-size: clamp(24px, 6vw, 64px);
			color: var(--white);
			margin: 0;
			text-align: center;
			font-weight: 400;
		}

		p {
			font-size: clamp(16px, 2.4vw, 18px);
			text-align: center;
			margin: 0;
		}
	}
}
