@use "@scss/base/container-queries" as *;

.tizzers {
	padding: clamp(32px, 6vw, 64px) 0;
	container: tizzers / inline-size;

	.container {
		display: grid;
		gap: 16px 0;

		@include container-up("tizzers", 534px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("tizzers", 1240px) {
			display: flex;
		}
	}

	&__item {
		background-color: var(--dark);
		clip-path: var(--base-clip-path);
		padding: 12px clamp(32px, 5vw, 48px);
		height: auto;

		display: flex;
		flex-direction: column;
		gap: 12px 24px;

		@include container-up("tizzers", 768px) {
			flex-direction: row;
			align-items: center;
		}

		&:last-child {
			grid-column: -1/1;
		}

		strong {
			font-size: clamp(32px, 6vw, 56px);
			font-weight: 600;
			font-family: var(--secondary-font);
			white-space: nowrap;
			color: var(--white);
		}

		span {
			min-width: 0;
			font-size: 18px;
			font-weight: 500;
			color: var(--white);
		}
	}
}
