@use "@scss/base/container-queries" as *;

.tizzers {
	// padding: 0 clamp(32px, 6vw, 64px) 120px;
	container: tizzers / inline-size;
	// margin: -40px;
	// z-index: 20;
	position: relative;

	.container {
		display: grid;
		gap: 24px;

		@include container-up("tizzers", 534px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("tizzers", 1240px) {
			grid-template-columns: repeat(auto-fit, minmax(min(100%, 25%), 1fr));
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
		text-align: center;
		gap: 24px;
		background-color: var(--dark);
		border-radius: 30px;
		box-shadow: 0 24px 80px rgba(211, 130, 9, 0.18);
		padding: 64px 32px;
		min-height: 360px;

		strong {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 12px;
			font-size: clamp(32px, 9vw, 64px);
			font-weight: 600;
			font-family: var(--secondary-font);
			white-space: nowrap;
			color: var(--white);

			&::after {
				content: "";
				width: 30px;
				height: 2px;
				background-color: var(--danger);
			}
		}

		span {
			min-width: 0;
			font-size: 24px;
			font-weight: 500;
			color: var(--white);
		}
	}

	// &__item {
	// 	background-color: var(--dark);
	// 	clip-path: var(--base-clip-path);
	// 	padding: 12px clamp(32px, 5vw, 48px);
	// 	height: auto;
	// 	border-top: 2px solid var(--danger);

	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 2px 24px;

	// 	@include container-up("tizzers", 768px) {
	// 		flex-direction: row;
	// 		align-items: center;
	// 	}

	// 	&:last-child {
	// 		grid-column: -1/1;
	// 	}

	// 	strong {
	// 		font-size: clamp(32px, 6vw, 56px);
	// 		font-weight: 600;
	// 		font-family: var(--secondary-font);
	// 		white-space: nowrap;
	// 		color: var(--white);
	// 	}

	// 	span {
	// 		min-width: 0;
	// 		font-size: 18px;
	// 		font-weight: 500;
	// 		color: var(--white);
	// 	}
	// }
}
