.fixed-contacts {
	position: fixed;
	bottom: 50px;
	right: calc(var(--container-offset) + 54px);

	display: flex;
	align-items: center;
	gap: 16px;

	z-index: 89;
	padding: 8px 32px;

	.main-btn {
		min-height: 48px;
		color: var(--white);
	}
}
