@use "@scss/base/container-queries" as *;

section.section:has(.callback-form) {
	padding-bottom: 0;
}
.callback-form {
	container: callback-form / inline-size;
	--callback-form-edge-width: min(40%, 360px);
	--callback-form-edge-height: 60px;
	--callback-form-radius: var(--base-border-radius);

	position: relative;
	color: var(--white);
	background-color: var(--dark);
	padding: 96px clamp(12px, 6vw, 72px);
	background-position: center;
	background-size: cover;
	z-index: 3;

	form {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
		width: 98%;
		max-width: 960px;
		margin: 0 auto;
		padding: 32px clamp(16px, 6vw, 144px);
		background-color: rgb(255 255 255 / 12%);
		border: 1px solid rgb(255 255 255 / 18%);
		backdrop-filter: blur(18px);
		box-shadow: 0 24px 80px rgb(0 0 0 / 18%);
		z-index: 11;
		-webkit-backdrop-filter: blur(18px);
		border-radius: var(--callback-form-radius);
	}

	&__note {
		grid-column: -1/1;
	}

	&__title {
		font-size: clamp(24px, 4vw, 48px);
		font-weight: 400;
		color: var(--dark);
	}

	&__text {
		font-size: 18px;
		color: var(--dark);
	}

	&__content {
		padding: 32px 0;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	*[type="submit"] {
		color: var(--dark);
		font-weight: 400;
		// background-color: var(--white);
		max-width: 240px;
		padding-top: 8px;
	}
}
