@use "@scss/base/container-queries" as *;

.features-list {
	container: features-list / inline-size;

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;

		@include container-up("features-list", 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 6px;
			padding: 24px;

			@include container-up("features-list", 768px) {
				align-items: revert;
				text-align: revert;
			}

			strong {
				position: relative;

				font-size: clamp(22px, 3.2vw, 32px);
				font-family: var(--secondary-font);
				font-weight: 600;
				padding-bottom: 12px;

				color: var(--dark);

				&::after {
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					content: "";
					width: 30%;
					max-width: 80px;
					height: 2px;
					background-color: var(--danger);

					@include container-up("features-list", 768px) {
						left: -16px;
						transform: none;
					}
				}
			}

			span {
				font-size: clamp(18px, 3.6vw, 22px);
				padding: 12px 0;
				color: var(--dark);
			}
		}
	}
}
