@use "@scss/extends/index" as *;

.crawl-line {
	.container {
		gap: 0 !important;
	}

	&__viewport {
		overflow: hidden;
		width: 100%;
	}

	&__track {
		display: flex;
		justify-content: center;
		width: 100%;
		gap: 24px;
		will-change: transform;
		margin: 0 auto;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		width: fit-content;
		min-width: 240px;
		height: auto;
		padding: 16px;

		border: 1px solid rgba(255, 255, 255, 0.24);
		user-select: none;
		border-radius: var(--base-border-radius);
		overflow: hidden;
		@extend %glass-dark;

		img {
			width: 100%;
			height: auto;
			max-height: 120px;
			object-fit: contain;
			user-select: none;
			-webkit-user-drag: none;
		}
	}
}
