@use "@scss/base/container-queries" as *;
@use "@scss/extends/index" as *;

.linked-services-list {
	container: linked-services-list / inline-size;
	@extend %section-stack-large;

	.container {
		@extend %section-stack-large;
	}

	.section__header {
		position: relative;
		z-index: 1;
		margin-bottom: 0;

		h2,
		p {
			margin: 0;
			text-align: left;
		}
	}

	&__grid {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;

		@include container-up("linked-services-list", 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("linked-services-list", 1240px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.main-btn {
		position: relative;
		z-index: 1;
	}

	&-card {
		@include image-card;

		&-container {
			container: service-card / inline-size;
		}

		&__header {
			display: flex;
			flex-direction: column;
			gap: 6px;

			small {
				font-style: 16px;
				color: var(--secondary);
			}

			span {
				z-index: 2;
				width: 100%;
				@include card-title;
			}
		}

		&__content {
			padding-right: 48px;
			margin-top: auto;

			p {
				font-size: 16px;
				color: var(--white);
				margin-bottom: 0;
			}
		}

		svg {
			@extend %image-card-arrow;
		}

		@media (hover: hover) {
			&:hover {
				
				background-size: 105%;
				svg {
					transform: rotate(45deg);
				}
			}
		}
	}
}
