@use "@scss/base/container-queries" as *;

// @use "swiper/css";
// @use "swiper/css/pagination";

.top-banner {
	container: top-banner / inline-size;

	.swiper {
		position: relative;

		&-slide {
			height: auto;
			overflow: hidden;
			background-color: rgba(0, 0, 0, 60%);

			a,
			picture {
				display: flex;
				width: 100%;
				height: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__navigation-row {
		position: absolute;
		bottom: 8px;
		padding: clamp(4px, 1.6cqw, 10px) 48px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		width: 100%;
		z-index: 11;

		@include container-up("top-banner", 768px) {
			bottom: 48px;
		}

		.swiper-pagination {
			position: static;
			width: fit-content !important;
			margin: 0 auto;

			@include container-up("top-banner", 768px) {
				margin: revert;
			}
		}

		.swiper-navigation {
			.swiper-btn {
				display: none;

				@include container-up("top-banner", 768px) {
					display: flex;
				}
			}
		}
	}
}
