@use "@scss/base/container-queries" as *;

// @use "swiper/css";
// @use "swiper/css/pagination";

.top-banner {
	position: relative;
	container: top-banner / inline-size;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 180px;
		pointer-events: none;
		background: linear-gradient(180deg, transparent, var(--dark));
		z-index: 10;
	}

	.swiper {
		position: relative;

		&-wrapper {
			min-height: 760px;
		}

		&-slide {
			height: auto;
			overflow: hidden;
			background-color: rgba(0, 0, 0, 60%);

			a,
			picture {
				display: flex;
				width: 100%;
				height: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__navigation-row {
		position: absolute;
		bottom: 48px;
		left: 50%;
		transform: translateX(-50%);
		padding: clamp(4px, 1.6cqw, 10px) var(--container-offset);
		max-width: var(--container-width);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		width: 100%;
		z-index: 11;

		.swiper-pagination {
			position: static;
			width: fit-content !important;
			margin: 0 auto;

			@include container-up("top-banner", 768px) {
				margin: revert;
			}
		}

		.swiper-navigation {
			.swiper-btn {
				display: none;

				@include container-up("top-banner", 768px) {
					display: flex;
				}
			}
		}
	}
}
