.main-btn {
	min-height: 54px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.045em;
	text-transform: uppercase;
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	clip-path: var(--base-clip-path);
	border: 0;
	padding: 8px 44px 4px;

	color: var(--white);
	background-color: var(--dark);
}
