@use "@scss/extends/index" as *;

.main-btn {
	@extend %glass-dark;

	min-height: 48px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	font-family: var(--primary-font);
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.045em;
	text-transform: uppercase;

	border-radius: var(--base-border-radius);
	padding: 6px 32px;

	color: var(--white);

	&:has(svg) {
		aspect-ratio: 1/1;
		padding: 12px;

		svg {
			width: 16px;
			height: 16px;
		}
	}
}
