.scroll-up-btn {
	position: fixed;
	right: 40px;
	bottom: 40px;

	// display: flex;
	// align-items: center;
	// justify-content: center;
	// width: 40px;
	// height: 40px;
	// padding: 5px;
	// border: 2px solid #fff;
	// border-radius: 50%;
	// background-color: rgb(83 44 249 / 10%);
	background-image: url("/local/templates/littleweb/_dist/images/arrow-white.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
	transform: translateY(150px) rotate(-45deg);
	mix-blend-mode: difference;
	z-index: 89;
}
