@use "@scss/extends/index" as *;

.scroll-up-btn {
	position: fixed;
	right: var(--container-offset);
	bottom: 58px;

	background-image: url("/local/templates/littleweb/_dist/images/icon-up.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
	transform: translateY(150px);
	border: 1px solid rgba(255, 255, 255, 0.24);

	padding: 16px;
	z-index: 89;
	aspect-ratio: 1/1;

	@extend %glass-dark;
}
