@use "@scss/extends/index" as *;

.swiper-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6px;

	
	
	

	.swiper-button-disabled {
		opacity: 0.5;
	}

	.swiper-btn {
		@extend %centered-control;
		padding: 12px;
		height: 44px;
		border: none;
		background-color: rgba(248, 248, 248, 0.3);
		aspect-ratio: 1/1;
		border-radius: 50%;
		

		svg {
			width: 17px;
			height: 13px;
			object-fit: contain;
			fill: var(--white);
		}

		&--prev {
			transform: rotate(180deg);
		}
	}

	&:has(.swiper-button-lock) {
		display: none;
	}
}

.swiper-pagination {
	&-bullet {
		
		margin: 0 2px !important;
		background-color: var(--white);
	}
}
