.table-wrapper {
	overflow: hidden;
	width: 100%;
	overflow-x: auto;
	margin: 20px 0;

	table:not(
		:where([class^="adm"], [class*=" adm"], [class^="bx"], [class*=" bx"])
	) {
		width: 100%;
		border-collapse: collapse;
		font-size: clamp(16px, 2.4vw, 18px);
		font-weight: 300;
		width: fit-content;

		min-width: 320px;
		margin: 1px;
		outline: 1px solid var(--white);
		border-radius: var(--base-border-radius);
		margin-bottom: 12px;

		td {
			padding: clamp(16px, 2.4vw, 24px) clamp(24px, 3vw, 44px);

			&:not(:first-child) {
				text-align: center;
			}
		}

		thead {
			color: var(--white);
			background-color: var(--dark);
			border-bottom: 1px solid var(--white);

			td {
				font-weight: 400;
			}
		}

		tbody {
			tr {
				&:nth-child(odd) {
					background-color: var(--primary); //rgba(83, 44, 249, 0.2);
				}
				&:not(:last-child) {
					border-bottom: 1px solid var(--white);
				}
			}
		}

		td:not(:last-child) {
			border-right: 1px solid var(--white);
		}
	}
}
