%hover-opacity {
	transition: opacity 0.3s ease-in-out;
	opacity: 1;

	@media (hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}

	&:focus {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.4;
	}
}

%glass-dark {
	background-color: rgba(0, 0, 0, 0.18);
	border: 1px solid rgba(255, 255, 255, 0.24);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
