@use "@scss/base/container-queries" as *;
@use "@scss/extends/index" as *;

.services-list {
	container: services-list / inline-size;

	.container {
		display: flex;
		flex-direction: column;
		gap: clamp(48px, 5vw, 72px);
	}

	&__section {
		display: flex;
		flex-direction: column;
		gap: clamp(44px, 6vw, 84px);

		& > .main-btn {
			max-width: fit-content;
		}
	}

	.section__header {
		margin-bottom: 0;
		h2,
		p {
			margin: 0;
			text-align: left;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 12px;

		@include container-up("services-list", 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("services-list", 1240px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&-card {
		@extend %glass-dark;

		position: relative;
		display: flex;
		flex-direction: column;
		gap: 24px;
		height: 100%;
		overflow: hidden;
		box-shadow: var(--base-box-shadow);
		padding: 32px 24px;
		border: none;
		border-radius: var(--base-border-radius);
		transition: opacity var(--main-transition);

		&-container {
			container: service-card / inline-size;
		}

		&__header {
			display: flex;
			flex-direction: column;
			gap: 6px;

			small {
				font-family: var(--secondary-font);
				font-style: 16px;
				color: var(--secondary);
			}

			span {
				z-index: 2;
				font-family: var(--secondary-font);

				width: 100%;
				font-size: var(--base-subtitle);
				color: var(--white);
				text-wrap: balance;
			}
		}

		&__content {
			padding-right: 48px;
			margin-top: auto;

			p {
				font-size: 16px;
				color: var(--white);
				margin-bottom: 0;
			}
		}

		svg {
			position: absolute;
			width: 16px;
			height: auto;
			bottom: 32px;
			right: 24px;
			fill: var(--white);
			will-change: transform;
			transition: transform var(--main-transition);
		}

		@media (hover: hover) {
			&:hover {
				opacity: 0.6;
				svg {
					transform: rotate(45deg);
				}
			}
		}
	}
}
