.top-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	background-color: transparent;
	width: 100%;

	li {
		a {
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			font-weight: 400;
			padding: 8px 18px;
			color: #e8e8e8;
		}

		&:not(:last-child) {
			a::after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -2px;
				width: 1px;
				height: 8px;
				content: "";
				background-color: var(--white);
			}
		}
	}
}
