@use "@scss/base/container-queries" as *;

.search-title {
	position: relative;
	outline: none;

	#title-search-input {
		border: none;
	}

	&-closer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		padding: 6px;
		background-color: var(--lighter);
		border: none;
		border-radius: 4px;

		svg {
			fill: var(--light);
		}

		@include container-up("header", 1024px) {
			display: none;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 48px;
		border-radius: 4px;
		overflow: hidden;

		label {
			flex-grow: 1;
			border-radius: 4px;
			overflow: hidden;
		}

		input {
			width: 100%;
			height: 40px;
			padding: 8px 12px;
			padding-right: 52px;
			outline: none;
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 60px;
			height: 100%;
			padding: 8px;
			border: none;
			border-radius: 4px;
			background-color: light;

			svg {
				width: 16px;
				height: 16px;
				fill: var(--light);
			}
		}
	}

	&__expand-wrapper {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 199;
	}
}

.search-result {
	&-container {
		display: flex;
		flex-direction: column;

		border: 1px solid var(--lighter);
		background-color: var(--white);
		border-radius: 4px;
		margin-top: 12px;
		height: fit-content;
		max-height: clamp(140px, 60vh, 440px);
		overflow: hidden;
		overflow-y: auto;
	}

	&-item {
		a {
			display: inline-block;
			width: 100%;
			line-height: 1.4;
			color: var(--dark);

			b {
				color: var(--primary);
			}
		}
		padding: 12px 12px;
		border-bottom: 1px solid var(--lighter);

		&--all {
			position: sticky;
			bottom: 0;
			background-color: var(--white);
			z-index: 11;
			border-bottom: none;
			border-top: 1px solid var(--lighter);

			a {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 500;
				color: var(--dark);
			}
		}
	}
}

.search-title {
	display: none;

	@include container-up("header", 1024px) {
		display: block;
	}

	&.mobile-expanded {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--lighter);
		padding: clamp(16px, 3vw, var(--container-offset)) var(--container-offset);
		z-index: 199;

		form {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 12px;
		}

		.search-title__wrapper {
			flex-grow: 1;
		}

		.search-title__expand-wrapper {
			padding: 16px var(--container-offset);
			border-top: 1px solid var(--lighter);

			.search-result-container {
				margin-top: 0;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--lighter);
				content: "";
				z-index: -1;
			}
		}
	}
}
