@use "@scss/base/container-queries" as *;
@use "@scss/extends/index" as *;

.news-list {
	container: news-list / inline-size;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;
		margin-bottom: clamp(32px, 4.4vw, 64px);

		@include container-up("news-list", 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("news-list", 1240px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 16px;
		padding: 12px 18px;
		padding-bottom: 18px;
		color: var(--white);
		@extend %glass-dark;
		box-shadow: var(--base-box-shadow);
		border-radius: var(--base-border-radius);
		overflow: hidden;
		border: none;

		@include container-up("news-list", 768px) {
			align-items: revert;
			text-align: revert;
		}

		img {
			width: calc(100% + 36px);
			height: auto;
			object-fit: contain;
			margin: -12px -18px;
			margin-bottom: 0px;
		}

		&-title {
			font-size: var(--base-subtitle);
		}

		&-preview-text {
			font-size: 16px;
			font-family: var(--primary-font);
		}

		&-date {
			font-size: 14px;
			opacity: 0.5;
			color: var(--light);
		}
	}
}
